@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}

/* FALTA CAMBIAR: ICONOS - COLORES Y FORMAS DE LUGAR  */

/* MENU HEADER VAR  */
.contenedor-header{
    background:rgb(27, 27, 28, 0.9);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header ul{
    font-weight: 700;
    max-width: 850px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.contenedor-header header .logo a{
    font-family: 'MADE Soulmaze', sans-serif;
    font-weight:100;
    font-size:50px;
    color: rgb(221, 221, 221);
    text-decoration: none;
}
.contenedor-header header ul{
    margin-top: 15px;
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: rgb(224, 224, 224);
    margin: 0 15px;
    padding: 6px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 2s;
}
.contenedor-header header nav ul li a:hover{
    color: #5ea7fb;
    transition: 1s;
    border-bottom: #5ea7fb solid ;
    letter-spacing: 4px;
    font-weight: 600;
    filter: drop-shadow(0px 0px 2.5px rgb(2, 71, 111));
    
}
.nav-responsive{
    background: linear-gradient(to top,rgba(7, 13, 27, 0.8), rgba(10,15,18,.4));
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}




/* SECCION I N I C I O */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.3), rgba(1,2,4,.4)),
    url(img/back4.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    margin-right:400px;
    padding: 210px;
    max-width: 100%;
    margin: auto;
    text-align: center;
    border-radius: 90px;
}

.inicio .contenido-banner img{
   width:390px;
   filter: drop-shadow(0px 0px 40px rgb(18, 80, 215));
   transition: 2s;
} .inicio .contenido-banner img:hover{
    filter: drop-shadow(0px 0px 40px rgb(255, 183, 0));
    transition: 2s;
}

.inicio .contenido-banner h1{
    margin-top: -50px;
    width: 100%;
    letter-spacing: 10px;
    font-size:70px;
    font-family: 'MADE Soulmaze Outline', sans-serif;
    text-shadow: -4px 6px 8px #040115;
    transition: 2s;
    cursor: pointer;
}
.inicio .contenido-banner h1:hover{
    letter-spacing: 15px;
    transition: 2s;
    text-shadow: -4px 6px 5px #040115;
    filter: drop-shadow(0px 0px 5px rgb(102, 169, 211));
    
    
}
.inicio .contenido-banner h2{
    margin:10px;
    letter-spacing: 4px;
    text-shadow: -2px 4px 20px #392e821b;
    font-weight:500;
    font-size: 15px;
    filter: drop-shadow(0px 0px 0.5px rgb(22, 185, 255));
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgb(254, 254, 254);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
    margin: 15px;
    margin-top: 30px;
    transition: 2s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #ffffff;
    scale: 1.2;
    transition: 1s;
    transform: rotate(8deg);
    color: rgb(35, 35, 36);
    border: 1px solid rgb(35, 35, 36);
}





/* SECCION S O B R E M I */

.sobremi{
    background: linear-gradient(to top, rgba(30,35,38,0.3), rgba(1,2,4,0.1)),
    url(img/back\ 2.jpg);
    color: #fff;
    padding: 10px 10px;
}
.sobremi .contenido-seccion{
    max-width: 1320px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'MADE Soulmaze Outline', sans-serif;
    text-align: center;
    padding: 40px 40px;
    letter-spacing: 4px;
   text-shadow: -4px 6px 0 #114b8d; 

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    
}
.sobremi .contenido-seccion p span{
    color: #60dde6;
    font-weight: bold;
}
.sobremi .fila{
    margin: 90px;
    display:flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 25px;
    font-weight: 100;
    font-family: 'MADE Soulmaze', sans-serif;
    margin-top: 20px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.sobremi .fila .col h3:hover{
    text-shadow: -4px 6px 0 #114b8d;
    transition: 2s;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #60dde6;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #c79d2a;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #114b8d;
    
    filter: drop-shadow(0px 0px 2.5px rgb(11, 146, 230));
    margin: 0 15px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    border-radius: 50%;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #fcfeff;
    border-radius: 50%;
    transition: 1s;
    transform: rotate(8deg);
    color: black;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 25px;
    margin-bottom: 10px;
}.sobremi .fila .col .contenedor-intereses .interes i:hover{
    font-size: 35px;
    margin-bottom: 10px;
    color: #003674;
    transition: 0.3s;

}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient( rgba(0,100,228,4), rgba(100,100,200,1));
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100%;
}







/* SECCION S K I L L S */
.skills{
    background: url("/img/back3blue.jpg");
    color: #fff;
    padding: 60px 10px;
}
.skills .contenido-seccion{
    max-width: 1200px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'MADE Soulmaze Outline', sans-serif;
    text-align: center;
    padding: 20px 0;
    letter-spacing: 1px;
    text-shadow: -3px 5px 0 #8dd3f85f;
    margin-bottom: 40px;
    

}
.skills .fila{
    display: flex;
    
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'MADE Soulmaze', sans-serif;
    font-weight: 100;
    margin-bottom: 40px;
    letter-spacing: 2px;
    transition: 1s;
}
.skills .fila .col h3:hover{
    font-size: 28px;
    font-family: 'MADE Soulmaze', sans-serif;
    font-weight: 100;
    margin-bottom: 15px;
    letter-spacing: 2px;
    text-shadow: -3px 5px 0 #467893;
    transition: 1s;
}

.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 50px;
    border-radius: 10%;
    
}
.skills .skill .progreso{
    background-color: #43d5e8;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    border-radius: 10%;
    filter: drop-shadow(0px 0px 5px rgb(102, 169, 211));
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #009dff;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

 button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    margin-top: 60px;
}
 button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient( rgba(0,100,228,4), rgb(115, 115, 178));
    z-index: -1;
    transition: 1s;
}
 button:hover .overlay{
    width: 100%;
}



/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 87%;}
}

.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
}
@keyframes wordpress {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .drupal{
    width: 0%;
    animation: 2s drupal forwards;
}
@keyframes drupal {
    0%{width: 0%;}
    100%{width: 97%;}
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 88%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .proyect{
    width: 0%;
    animation: 2s proyect forwards;
}
@keyframes proyect {
    0%{width: 0%;}
    100%{width: 100%;}
}






/* SECCION CURRICULUM */
.curriculum{
    background: linear-gradient(to top, rgba(30,35,38,0.3), rgba(1,2,4,0.4)),
    url(img/back\ 2.jpg);
    color: #fff;
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
    color: #efefef;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'MADE Soulmaze Outline', sans-serif;
    text-align: center;
    padding: 20px 0;
    text-shadow: -4px 6px 0 #114b8d;

}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;

}
.curriculum .fila .col h3{
    margin: 10px;
    font-size: 28px;
    font-family: 'MADE Soulmaze', sans-serif;
    font-weight: 100;
    margin-bottom: 25px;
    text-shadow: -4px 6px 0 #114b8d;
}
.curriculum .fila .col h3:hover{
    font-size: 28px;
    font-family: 'MADE Soulmaze', sans-serif;
    font-weight: 100;
    margin-bottom: 25px;
    transition: 1s;
    text-shadow: -4px 6px 10px #114b8d;
    
}




.curriculum .fila .izquierda{
    border-right: 3px solid #303336;    
}
.curriculum .fila .derecha{
    border-left: 3px solid #303336;
    
}
.curriculum .fila .item{
    padding: 24px;
    margin-bottom: 50px;
    background-color: #252628;
    position: relative;
    border-radius: 14%;
    filter: drop-shadow(0px 0px 5px rgb(102, 169, 211));
}
.curriculum .fila .item h4{
    font-size: 24px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: #43d5e8;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #43d5e8;
    margin-bottom: 14px;
}
.curriculum .fila .item p{
    line-height: 20px;
}
.curriculum .fila .izq{
    border-right: 2px solid #0ce3ff;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #0ce3ff;
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #43d5e8;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #43d5e8;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #43d5e8;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #43d5e8;
    float: left;
    position: relative;
    bottom: 4px;
}










/* SECCION PORTFOLIO */
.portfolio{
    background-color: #202021;
    color: #fff;
    padding: 50px 30px;
   
}
.portfolio .contenido-seccion{
    max-width: 1400px;
    margin: auto;
    
}
.portfolio h2{
    font-size: 48px;
    font-family: 'MADE Soulmaze Outline', sans-serif;
    text-align: center;
    padding: 20px 0;
    text-shadow: -4px 6px 0 #114b8d;
    
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5%;
    
}
.portfolio .galeria .proyecto{
    position: relative;
    max-width: 306px;
    height: fit-content;
    margin: 22px;
    cursor: pointer;
    border-radius: 5%;
    border-bottom: solid 2px rgba(255, 255, 255, 0.919);
    filter: drop-shadow(0px 0px 1.5px rgb(255, 255, 255));
}
.portfolio .galeria .proyecto img{
    width: 100%;
    display: block;
    border-radius: 5%;
    filter: contrast(110%);
    
}
.proyecto img:hover{
    width: 120%;
}



.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(42, 41, 41, 0.529), rgba(42, 42, 42, 0.49));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
    border-radius: 5%;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
    
}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
    
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}


/* SECCION CONTACTO */
.contacto{
    background: linear-gradient(to top, rgba(30,35,38,0.3), rgba(1,2,4,0.1)),
    url(img/back\ 2.jpg);
    color: #fff;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'MADE Soulmaze Outline', sans-serif;
    text-align: center;
    padding: 20px 0;
    text-shadow: -4px 6px 0 #114b8d;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display:flex;
    width: 100%;
    padding: 20px;
    border-radius: 2%;
    border: none;
    margin-bottom: 20px;
    border: solid 2px rgb(163, 223, 255);
    filter: drop-shadow(0px 0px 2px rgb(131, 216, 247));
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient( rgba(0,100,228,4), rgba(100,100,200,1));
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    border: solid 2px rgb(163, 223, 255);
    filter: drop-shadow(0px 0px 2px rgb(131, 216, 247));
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 400px;
    left: 41%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: #0080ff;
    display: inline-block;
    margin-right: 20px;
}


footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #0080ff;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgb(254, 254, 254);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
    margin: 15px;
    margin-top: 30px;
    transition: 2s;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}
